<!DOCTYPE html>
<html>

<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
	    crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
	    crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	
		crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<style>
		#col1 {
    border: 2px;
    padding: 10px;
    border-radius: 5px;
	}
</style>
	<title>changePassword</title>
</head>

<body>




	<br><br><br>
	<center><img src="logo.jpg" alt="" style="width: 500px"></center>
	<!-- <br><br><br> -->
	<div style="margin: 15px 20% 15px 25%">
			<div id="col1" class="col" style="background-color:lavender; margin: 50px 0 50px 0">
				<div class="form-group">
					<label>รหัสผ่านเดิม</label>
					<input class="form-control" name="oldpassword" type="password" id="oldpassword" required >
                </div>
                <div class="form-group">
					<label>รหัสผ่านใหม่</label>
					<input class="form-control" name="newpassword" type="password" id="newpassword" required >
                </div>
                <div class="form-group">
					<label>ยืนยันรหัสผ่านใหม่</label>
					<input class="form-control" name="reenterpassword" type="password" id="reenterpassword" required >
				</div>
				<div>
					<center>
						<a>
							<button class="btn btn-success btn-lg" onclick="comfirm()">ตกลง</button>
						</a>
					</center>
				</div>
			</div>
	</div>
</body>
<script>
		function comfirm(){
		console.log("asdasds")
			$.ajax({
    url:"/changePassword",
    method: "POST",
    data : {
        oldpassword:  $('#oldpassword').val(),
        newpassword :  $('#newpassword').val(),
		reenterpassword :  $('#reenterpassword').val(),
    },
    cache : false,
    success : function (data) {
        if(data == "Invalid password!"){
			swal("Invalid password!");
		}
		else if(data == "password not mach"){
			swal("password not mach");
		}
		else if(data == "Logout!"){
			window.location = "/logout";
		}
		else{
			window.location = "/adminmenu";
		}
    },
    error : function () {
        alert("Oops! Something went wrong.");
    }
});
	}
</script>
</html>