<!DOCTYPE html>
<html>

<head>
    <title>cREATEuser</title>
</head>

<body>
     <form action="/createUser" method="post">
        User name:<br>
        <input type="text" name="user"><br>
        Password name:<br>
        <input type="text" name="password">
    
    <button type="submit" class="btn btn-success">ยืนยัน</button>
    </form>
</body>

</html>