<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <script>
        function printDiv() 
        {

        var divToPrint=document.getElementById('DivIdToPrint');

        var newWin=window.open('','Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

        newWin.document.close();

        setTimeout(function(){newWin.close();},10);

        }
    </script>
        <div id='DivIdToPrint'>
            <p>This is a sample text for printing purpose.</p>
        </div>
        <p>Do not print.</p>
        <input type='button' id='btn' value='Print' onclick='printDiv();'>
</body>

</html>